.DS_Store
.build/
DerivedData/
.swiftpm/
.vscode/
*.xcuserdata/
*.xcuserstate
*.moved-aside
*.hmap
*.ipa
*.p12
*.provisionprofile
*.mobileprovision
*.dSYM.zip
*.dSYM
*.swp
*.swo
*.tmp
*.log
*.sqlite-wal
*.sqlite-shm
*.macfsw-session
*.macfsw-evidence
