DEVELOPMENT_TEAM = UYF535Y9QZ
MARKETING_VERSION = 0.1.7
CURRENT_PROJECT_VERSION = 11
MACFSW_HOST_BUNDLE_ID = com.mas0n.MacFSW
MACFSW_EXTENSION_BUNDLE_ID = com.mas0n.MacFSW.EndpointExtension
MACFSW_XPC_SERVICE_NAME = UYF535Y9QZ.com.mas0n.MacFSW.EndpointExtension.xpc
CODE_SIGN_STYLE = Automatic
ENABLE_HARDENED_RUNTIME = YES
